swagger: "2.0"
schemes:
  - "https"
produces:
  - "application/json"
consumes:
  - "application/json"
x-servers:
  - url: 'https://api.gridscale.io'
    description: Live
# The tags on paths define the menu sections in the ReDoc documentation, so
# the usage of tags must make sense for that:
# - They should be singular, not plural.
# - There should not be too many tags, or the menu becomes unwieldy. For
#   example, it is preferable to add a path to the "System" tag instead of
#   creating a tag with a single path in it.
# - The order of tags in this list defines the order in the menu.
x-tagGroups:
  - name: Requests
    tags:
      - request
  - name: Servers & Server Relations
    tags:
      - server
      - server power
      - server storage
      - server network
#<!-- strip_msg -->
      - server ip
#<!-- strip_msg_end -->
      - server isoimages
  - name: Storages & Storage Relations
    tags:
      - storage
      - storage snapshot
      - storage snapshot schedule
      - storage backup schedule
      - storage backups
      - object storage
      - iso image
  - name: Networks & Security
    tags:
      - network
#<!-- strip_msg -->
      - ip
#<!-- strip_msg_end -->
      - firewall
      - SSH key
      - loadbalancer
  - name: Templates
    tags:
      - template
      - marketplace application
  - name: Platform Services
    tags:
      - paas
      - security zone
  - name: Kubernetes
    tags:
      - kubernetes
  - name: Additional
    tags:
      - Location
      - deleted
      - label
      - events
host: api.gridscale.io
info:
  version: 1.0.24
  title: API Specification
  description: |
    # Introduction
    Welcome to gridscales API documentation.

    A REST API is a programming interface that allows you to access and send data directly to our systems using HTTPS requests, without the need to use a web GUI. All the functionality you are already familiar with in your control panel is accessible through the API, including expert methods that are only available through the API. Allowing you to script any actions you require, regardless of their complexity.

    First we will start with a general overview about how the API works, followed by an extensive list of each endpoint, describing them in great detail.

    ## Requests

    For security, gridscale requires all API requests are made through the HTTPS protocol so that traffic is encrypted. The following table displays the different type of requests that the interface responds to, depending on the action you require.

    | Method | Description |
    | --- | --- |
    | GET | A simple search of information. The response is a JSON object. Requests using GET are always read-only. |
    | POST | Adds new objects and object relations. The POST request must contain all the required parameters in the form of a JSON object. |
    | PATCH | Changes an object or an object relation. The parameters in PATCH requests are usually optional, so only the changed parameters must be specified in a JSON object. |
    | DELETE | Deletes an object or object relation. The object is deleted if it exists. |
    | OPTIONS | Get an extensive list of the servers support methods and characteristics. We will not give example OPTION requests on each endpoint, as they are extensive and self-descriptive. |

    <aside class="notice">
    The methods PATCH and DELETE are idempotent - that is, a request with identical parameters can be sent several times, and it doesn't change the result.
    </aside>

    ## Status Codes

    | HTTP Status | `Message` | Description |
    | --- | --- | --- |
    | 200 | `OK` | The request has been successfully processed and the result of the request is transmitted in the response. |
    | 202 | `Accepted` | The request has been accepted, but will run at a later date. Meaning we can not guarantee the success of the request. You should poll the request to be notified once the resource has been provisioned - see the requests endpoint on how to poll. |
    | 204 | `No Content` | The request was successful, but the answer deliberately contains no data. |
    | 400 | `Bad Request` | The request message was built incorrectly. |
    | 401 | `Unauthorised` | The request can not be performed without a valid authentication. X-Auth UserId or X-Auth token HTTP header is not set or the userID / token is invalid. |
    | 402 | `Payment Required` | Action can not be executed - not provided any or invalid payment methods. |
    | 403 | `Forbidden` | The request was not carried out due to lack of authorization of the user or because an impossible action was requested. |
    | 404 | `Not Found` | The requested resource was not found. Will also be used if you do a resource exists, but the user does not have permission for it. |
    | 405 | `Method Not Allowed` | The request may be made only with other HTTP methods (eg GET rather than POST). |
    | 409 | `Conflict` | The request was made under false assumptions. For example, a user can not be created twice with the same email. |
    | 415 | `Unsupported Media Type` | The contents of the request have been submitted with an invalid media type. All POST or PATCH requests must have "Content-Type : application / json" as a header, and send a JSON object as a payload. |
    | 416 | `Requested Range Not Satisfiable` | The request could not be fulfilled. It is possible that a resource limit was reached or an IPv4 address pool is exhausted. |
    | 424 | `Failed Dependency` | The request could not be performed because the object is in the wrong status. |
    | 429 | `Too Many Requests` | The request has been rejected because rate limits have been exceeded. |

    <aside class="success">
    Status 200-204 indicates that the request has been accepted and is processed.
    </aside>
    <aside class="notice">
    Status 400-429 indicates that there was a problem with the request that originated on the client. You will find more information about the problem in the body of 4xx response.
    </aside>
    <aside class="warning">
    A status 500 means that there was a server-side problem and your request can not be processed now.
    </aside>

    ## Request Headers

    | Header | Description |
    | --- | --- |
    | Content-Type | Always "application/json". |
    | X-Auth-userId | The user UUID. This can be found in the panel under "API" and will never change ( even after the change of user e-mail). |
    | X-Auth-Token | Is generated from the API hash and must be sent with all API requests. Both the token and its permissions can be configured in the panel.|

    ## Response Headers

    | Header | Description |
    | --- | --- |
    | Content-Type | Always "application/json". |
    | X-Time-Provisioning | The time taken to process the request (in ms). |
    | X-Api-Identity | The currently active Provisioning API version. Useful when reporting bugs to us. |
    | X-Request-Id   | The unique identifier of the request, be sure to include it when referring to a request. |
    | RateLimit-Limit | The number of requests that can be made per minute. |
    | RateLimit-Remaining | The number of requests that still remain before you hit your request limit. |
    | RateLimit-Reset | A [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) in milliseconds of when the rate limit will reset, or the time at which a request no longer will return 429 - Too Many Requests. |

    ## Timestamp Format

    All timestamps follow <a href="https://de.wikipedia.org/wiki/ISO_8601" target="_blank_">ISO 8601</a> and issued in <a href="https://www.timeanddate.de/zeitzonen/utc-gmt" target="_blank_">UTC</a>

    ## CORS

    ### Cross Origin Resource Sharing

    To allow API access from other domains that supports the API CORS (Cross Origin Resource Sharing). See: enable-cors.org/ .

    This allows direct use the API in the browser running a JavaScript web control panel.

    All this is done in the background by the browser. The following HTTP headers are set by the API:

    Header | Parameter | Description
    --- | --- | ---
    Access-Control-Allow-Methods   | GET, POST, PUT, PATCH, DELETE, OPTIONS | Contains all available methods that may be used for queries.
    Access-Control-Allow-Credentials | true | Is set to "true". Allows the browser to send the authentication data via X-Auth HTTP header.
    Access-Control-Allow-Headers | Origin, X-Requested-With, Content-Type, Accept, X-Auth-UserId, X-Auth-Token, X-Exec-Time, X-API-Version, X-Api-Client | The HTTP headers available for requests.
    Access-Control-Allow-Origin | * | The domain sent by the browser as a source of demand.
    Access-Control-Expose-Headers | X-Exec-Time, X-Api-Version | The HTTP headers that can be used by a browser application.

    ## Rate Limits

    The number of requests that can be made through our API is currently limited to 210 requests per 60 seconds. The current state of rate limiting is returned within the response headers of each request. The relevant response headers are

    - RateLimit-Limit
    - RateLimit-Remaining
    - RateLimit-Reset

    See the Response Headers section for details.

    As long as the `RateLimit-Remaining` count is above zero, you will be able to make further requests. As soon as the `RateLimit-Remaining` header value is zero, subsequent requests will return the 429 status code. This will stay until the timestamp given in `RateLimit-Reset` has been reached.

    ### Example rate limiting response

    ```shell
    HTTP/1.0 429 TOO MANY REQUESTS
    Content-Length: 66
    Content-Type: application/json; charset=utf-8
    Date: Mon, 11 Nov 2019 11:11:33 GMT
    RateLimit-Limit: 210
    RateLimit-Remaining: 0
    RateLimit-Reset: 1573468299256

    {
        "id": "too_many_requests",
        "message": "API Rate limit exceeded."
    }
    ```

    It is important to understand how rate limits are reset in order to use the API efficiently. Rate limits are reset for all counted requests at once. This means that that once the timestamp `RateLimit-Remaining` has arrived all counted request are reset and you can again start sending requests to the API.

    This allows for short burst of traffic. The downside is once you have hit the request limit no more requests are allowed until the rate limit duration is reset.

    ## Object Relations
    Relationships describe resource objects (storages, networks, IPs, etc.) that are connected to a server.
    These relationships are treated like objects themselves and can have properties specific to this relation.

    One example would be, that the MAC address of a private network connected to a server (Server-to-Network relation) can be found as property of the relation itself - the relation is the _network interface_ in the server.

    Another example is storage, where the SCSI LUN is also part of the Server-to-Storage relation object.

    This information is especially interesting if some kind of network boot is used on the servers, where the properties of the server need to be known beforehand.

    ## Deleted Objects
    Objects that are deleted are no longer visible on their *regular* endpoints.
    For historical reasons these objects are still available read-only on a special endpoint named /deleted.
    If objects have been deleted but have not yet been billed in the current period, the yet-to-be-billed price is still shown.

    <!-- #strip_js -->
    ## Node.js Library

    We have a JavaScript library for you to use our API with ease.

    <a href="https://www.npmjs.com/package/@gridscale/api" target="_blank"><img src="https://badge.fury.io/js/%40gridscale%2Fapi.svg" alt="npm badge"></a>

    <aside class="success">
    We want to make it even easier for you to manage your Infrastructure via our API - so feel free to contact us with any ideas, or languages you would like to see included.
    </aside>

    Requests with our Node.js lib return a little differently. Everything is the same except it allows you to add URL parameters to customize your requests.

    To get started <a href="https://www.npmjs.com/package/@gridscale/api" target="_blank">click here</a> .

    <!-- #strip_js_end -->

    <!-- #strip_go -->
    ## Golang Library
    We also have a Golang library for Gophers.

    Requests with our Golang lib return a little differently. Everything is the same except it allows you to add URL parameters to customize your requests.

    To get started <a href="https://github.com/gridscale/gsclient-go" target="_blank">click here</a> .

    <!-- #strip_go_end -->

    <!-- #strip_python -->
    ## Python Library

    We have a Python library, that optionally also simplifies handling of asynchronous requests by mimicking synchronous blocking behaviour.

    To get started <a href="https://pypi.org/project/gs-api-client/" target="_blank">click here</a> .

    <!-- #strip_python_end -->

    # Authentication

    In order to use the API, the User-UUID and an API_Token are required.
    Both are available via the web GUI which can be found here on <a href="https://my.gridscale.io/APIs/" target="_blank">Your Account</a>

    <aside class="success">
    If you are logged in, your UUID and Token will be pulled dynamically from your account, so you can copy request examples straight into your code.
    </aside>

    The User-UUID remains the same, even if the users email address is changed.
    The API_Token is a randomly generated hash that allows read/write access.

    ## API_Token

    <table class="security-details"><tbody><tr><th> Security scheme type: </th><td> API Key </td></tr><tr><th> header parameter name:</th><td> X-Auth-Token </td></tr></tbody></table>

    ## User_UUID

    <table class="security-details"><tbody><tr><th> Security scheme type: </th><td> API Key </td></tr><tr><th> header parameter name:</th><td> X-Auth-UserId </td></tr></tbody></table>

    ## Examples

    <!-- #strip_js -->
    > Node.js
    ```
    // to get started
    // read the docs @ https://www.npmjs.com/package/@gs_js_auth/api
    var gs_js_auth = require('@gs_js_auth/api').gs_js_auth;
    var client = new gs_js_auth.Client("##API_TOKEN##","##USER_UUID##");
    ```
    <!-- #strip_js_end -->

    <!-- #strip_go -->
    > Golang
    ```
    // to get started
    // read the docs @ https://github.com/gridscale/gsclient-go
    config := gsclient.NewConfiguration(
      "https://api.gridscale.io",
      "##USER_UUID##",
      "##API_TOKEN##",
      false, //set debug mode
    )
    client := gsclient.NewClient(config)
    ```
    <!-- #strip_go_end -->

    > Shell Authentication Headers
    ```
      -H "X-Auth-UserId: ##USER_UUID##" \
      -H "X-Auth-Token: ##API_TOKEN##" \
    ```

    > Setting Authentication in your Environment variables
    ```
    export API_TOKEN="##API_TOKEN##" USER_UUID="##USER_UUID##"
    ```

    <aside class="notice">
    You must replace <code>USER_UUID</code> and <code>API_Token</code> with your personal UUID and API key respectively.
    </aside>

securityDefinitions:
  API_Token:
    type: apiKey
    in: header
    name: X-Auth-Token
    description: |
      To make any successful requests to the API, you will need a valid API Keys which can be found in the panel under "API-Keys" in the panel.
  User_UUID:
    type: apiKey
    in: header
    name: X-Auth-UserId
    description: |
      To make any successful requests to the API, you will need a valid API Keys which can be found in the panel under "API-Keys" in the panel.
security:
  - API_Token: []
    User_UUID: []

tags:
- name: "request"
  x-displayName: "Requests"
- name: "server"
  x-displayName: "Server"
  description: |
    Our enterprise grade servers offer several features such as real-time provisioning, private networks, nested virtualization, 
    zero downtime, auto recovery as well as hot-plugging. You can tailor your requirements to seamlessly scale complex architectures across multiple hardware profiles.

- name: "server isoimages"
  x-displayName: "Server ISO Images"
  description: |
    You can take advantage of the variety of images that we offer including several open source distributions and Windows. You also have the 
    possibility to use your own custom ISO images as well. 

- name: "server power"
  x-displayName: "Server Power Status"
  description: |
    The server power status enables you to identify the current status of the specified server, as well as turn it on or off either directly or via ACPI.

- name: "server storage"
  x-displayName: "Server Storages"
  description: |
    Our high performance NVMe and SSD cloud storages are designed with security, availability, flexibility, ease-of-use and speed in mind. All data is encrypted at rest and 
    stored on enterprise grade SSDs.

- name: "server ip"
  x-displayName: "Server IPs"
  description: |
    As one of the first cloud providers with native IPv4 and IPv6 support, we also offer failover IPs which you can utilise for your next cutting-edge project.

- name: "server network"
  x-displayName: "Server Networks"
  description: |
    Our networking technology enables all the various infrastructure components to securely communicate with each other, the Internet as well as on-premise networks. 

- name: "storage"
  x-displayName: "Storage"
  description: |
    Our high performance NVMe and SSD cloud storages are designed with security, availability, flexibility, ease-of-use and speed in mind. All data is encrypted at rest 
    and stored on enterprise grade SSDs across multiple availability zones. Ranging across multiple performance classes, our storages are able fulfill even the highest I/O requirements.
    
    Our offerings include the following storage options:

    ## Distributed Storage
    With complete Backup Center support and boasting triple data redundancy over three separate 
    storage servers, our bootable ceph-based Distributed Storages support up to 4096 GB capacity, which is expandable upon request. You can 
    choose your preference from among three different storage classes - Standard, High and Insane.

    A server can have up to eight Distributed Storages, and one ISO Image attached to it.

    To create a distributed storage, include `distributed` as the `storage_variant` to the Storage Post <a href="#operation/createStorage">request</a>.

    ## Rocket Storage (Labs)
    Our bootable NVMe-based local storages are physically attached servers and support up to 500 GB capacity, offering extremely low latency and high throughput. 
    Keep in mind that being a local storage, this high performance comes with certain limitations - only one snapshot per storage is available and 
    backups need to be <b>manually configured</b>. Data stored on Rocket Storage persists only until a server is turned off or deleted. 

    Currently, a Rocket Storage can only be resized by powering it down and ensuring that there is no Snapshot associated with it. 

    A server can have up to one Rocket Storage, seven Distributed Storages, and one ISO image attached to it.

    To create a rocket storage, include `local` as the `storage_variant` to the Storage Post request.

    ## Object Storage
    Read more about Object Storage <a href="#tag/object-storage">here</a>.

- name: "ip"
  x-displayName: "IP Addresses"
  description: |
    As one of the first cloud providers with native IPv4 and IPv6 support, we also offer failover IPs which you can utilise for your next cutting-edge project. Setting an IP 
    address as a failover enables you to use it to manually configure a “group of redundancy” within your infrastructure, or simply allow you to transfer traffic between configured VMs with ease.

- name: "network"
  x-displayName: "Network"
  description: |
    Our networking technology enables all the various infrastructure components to securely communicate with each other, the Internet as well as on-premise networks. 
    Design and build complex networks and rules for private as well as breakout networks.

    For private networks, enabling the L2-filter ensures that servers connected to the network can only communicate with their own MAC address, prohibiting MAC spoofing.

- name: "firewall"
  x-displayName: "Firewall"
  description: |
    With cloud firewalls, you can determine which network traffic is allowed and eliminate mundane tasks through rule sets and smart templates. Define individual rules for each server, based on IP addresses and ports.

- name: "iso image"
  x-displayName: "ISO Images"
  description: |
    You can take advantage of the variety of images that we offer including several open source distributions and Windows. You also have the possibility to use your own custom ISO images as well. 

- name: "SSH key"
  x-displayName: "SSH Keys"
  description: |
    Secure Shell Keys enables you to securely access and operate your network services over an unsecured network. 

- name: "Location"
  x-displayName: "Location"
  description: |
    Our cloud-based offerings are built on physical infrastructure across different locations.

- name: "object storage"
  x-displayName: "Object Storage"
  description: |
    Using our S3-compatible Object Storage offering, data can be securely accessed from anywhere, including but not limited to applications or IoT devices. You can also flexibly perform instantaneous 
    real-time backups by exporting snapshots as well as manage buckets. The following are always required as parameters:

    Endpoint : https://gos3.io
    Region   : eu

    Currently, all write/admin users have full access to the bucket, since they are linked to the access key and tokens that are generated.

    Learn how to get started with Object Storage here.

- name: "paas"
  x-displayName: "PaaS"
  description: |
    Our fully managed and automated PaaS services are dynamically scaled in real time, eliminating the need for time-consuming installations, management, monitoring and security updates.  
    We offer a range of platform services including MariaDB, MySQL and Redis. The services are split by service size, meaning that if you would like a 4GB service, look for the service with the desired RAM configuration. 
    You can get a list of all available services using the PaaS Services Templates GET <a href="#operation/getPaasServiceTemplates">endpoint</a>.
    
    Our PaaS enables Core and Storage autoscaling by default. If you are an expert user, you can limit the compute and storage autoscaling by including the `resource_limits` attribute while <a href="#operation/createPaasService">posting</a> a new service.

    PaaS relies on Security Zones to communicate with your infrastructure. You can read more about them <a href="#tag/security-zone">here</a>.

- name: "security zone"
  x-displayName: "Security Zone"
  description: |
    Security Zones are the connecting element between your Platform Services and your infrastructure - the network configuration is completely automatic. Designed to protect your sensitive data, 
    Security Zones are private networks on which Platform Services run encapsulated with servers that are connected to the zone. 

    The first security zone will be created by us on demand, and it will then be used by default. If you would like to use another zone to set up your own private VMs, you would have to create it yourself first. 

    Security Zones cannot be deleted, if there is a connected service.


- name: "kubernetes"
  x-displayName: "Kubernetes Clusters"
  description: |
    Kubernetes cluster provisioning and management is performed via <a href="#tag/paas">PaaS API endpoints</a>.
    This section will give you an overview of Kubernetes cluster related processes and how to invoke them.

    ## Create a Kubernetes Cluster
    To create a new Kubernetes cluster, you <a href="#operation/createPaasService">create a service</a> with service
    template which refers to the k8s_version you want to deploy. The service templates can be
    obtained programmatically by <a href="#operation/getPaasServiceTemplates">fetching the list of available service templates</a>.

    As with other services, a Kubernetes cluster has parameters. These parameters control the worker node resources.
    The parameters and their validation schema can be found in the `parameters_schema` element of the
    service template.

    To create a cluster running 3 worker nodes with 2 CPU cores, 4 GB memory and a 32 GB storage of storage
    type `storage_insane` **per** worker node, you specify these parameters:
    ```json
    {
     "k8s_worker_node_count": 3,
     "k8s_worker_node_cores": 2,
     "k8s_worker_node_ram": 4,
     "k8s_worker_node_storage": 32,
     "k8s_worker_node_storage_type": "storage_insane"
    }
    ```

    After you created your Kubernetes cluster, you will find all cluster resources, namely servers, storages and ip addresses,
    transparently in their corresponding GET endpoints or in your panel. Changes to these resources should be avoided, as they
    can potentially interrupt your cluster, interfere with maintenance processes and are ephemeral by nature.
    Kubernetes worker nodes can be replaced at any time - i.e. during Kubernetes upgrades and maintenance processes to
    restore cluster health.

    ## Access your Kubernetes Cluster
    To access your cluster with `kubectl`, you need a kubeconfig. This kubeconfig contains an X.509 client certificate and
    holds all the relevant information for kubectl to know where to connect to. Since kubeconfigs cannot be revoked, lifetime of a kubeconfig is limited.

    <!-- #strip_gs -->
    The recommended way of obtaining your kubeconfig is to use our cli tool <a href="https://github.com/gridscale/gscloud">gscloud</a>.
    gscloud integrates itself into kubectl to provide kubectl with a valid kubeconfig whenever you want to access your cluster. To set up gscloud,
    download it from the <a href="https://github.com/gridscale/gscloud/releases">github repository page</a> and initialize it with an API key that you have created in your panel.

    To initialize gscloud, generate a config
    ```shell
    $ gscloud make-config
    ```
    and edit that with your editor of choice.

    Now you can start using your cluster by retrieving a kubeconfig for it.
    ```shell
    $ gscloud kubernetes cluster save-kubeconfig --credential-plugin --cluster <cluster_uuid>
    ```
    The `cluster_uuid` is the `object_uuid` of the service you created.

    gscloud adds a new context to your `~/.kube/config` for your cluster. You can now use `kubectl` to manage it.

    Alternatively you can obtain your kubeconfig manually.
    <!-- #strip_gs_end -->

    To generate a new kubeconfig, call the <a href="#operation/renewPaasServiceCredentials">renew service credentials</a> endpoint.
    Once that asynchronous request has finished, a new `kubeconfig`-type credential is stored in the `credentials` list
    of your service. Grab the kubeconfig, which is in YAML format, from the `kubeconfig` attribute of that credential
    and store it as a plain text file in under `~/.kube/config`.

    You can now use `kubectl` to manage your cluster.

    ## Scale your Kubernetes Cluster
    To scale your Kubernetes cluster up or down, change the `k8s_worker_node_count` parameter correspondingly to a higher or lower value.

    <aside class="notice">
    When changing parameters of a service, the <i>parameters</i> attribute is replaced as a whole. Therefore, also include parameters that you do not want to change with their existing values.
    </aside>

    ## Upgrade your Kubernetes Cluster
    To upgrade your Kubernetes cluster to a more recent release version, change the service template uuid to the desired oe which matches the desired version.
    The list of currently allowed upgrade versions is available as part of <a href="#operation/getPaasService">get paas service</a> endpoint.

    <aside class="notice">
    Currently patch-release updates and minor upgrades are supported for Kubernetes clusters.
    </aside>

    <aside class="notice">
    When changing parameters of a service, the <i>parameters</i> attribute is replaced as a whole. Therefore, also include parameters that you do not want to change with their existing values.
    </aside>

    ## Delete your Kubernetes Cluster
    To delete your Kubernetes cluster, <a href="#operation/deletePaasService">delete the corresponding service</a>.

    On cluster deletion, all immediate cluster resources, namely servers, storages and ip addresses of your master and
    worker nodes, will be deleted. Resources that have been created dynamically by your cluster, such as storages for
    PVCs or load balancers for services of type LoadBalancer, will be removed with best-effort, depending on cluster health.

    <!-- #strip_gs -->
    ## Adding a Load Balancer to Kubernetes Clusters 
    We support adding Load Balancers to your cluster in a Kubernetes native way. Simply define the service in your configuration.
    Below are the parameters and values.

    service | default | possible values
    --- | --- | ---
    service.beta.kubernetes.io/gs-loadbalancer-mode  | tcp | tcp, http
    service.beta.kubernetes.io/gs-loadbalancer-algorithm | leastconn | leastconn, roundrobin

    ## Example
    ```
    annotations:
    service.beta.kubernetes.io/gs-loadbalancer-mode: http
    service.beta.kubernetes.io/gs-loadbalancer-algorithm: roundrobin
    ```

    ## Editing an existing Load Balancer
    `kubectl annotate --overwrite svc testing-ingress "service.beta.kubernetes.io/gs-loadbalancer-mode=http" "service.beta.kubernetes.io/gs-loadbalancer-algorithm=roundrobin"`
    <!-- #strip_gs_end -->

- name: "loadbalancer"
  x-displayName: "Load Balancer"
  description: |
    Our fully managed redundant load balancers can be configured for L4 and L7 networking, enabling you to fine-tune and distribute incoming traffic to your virtual machines automatically, ensuring that traffic is evenly distributed without overstraining VMs. 
    Load balancers can also be created as an Ingress for GSK clusters if requested. You can configure and modify load balancers without worrying about availability or infrastructure performance.      

- name: "deleted"
  x-displayName: "Deleted"
  description: |
    Use this section to retrieve information regarding various deleted components.

- name: "storage snapshot"
  x-displayName: "Storage Snapshots"
  description: |
    A snapshot is a saved instance of the current stage of your storage. Continuous snapshots and backups help prevent data losses and ensure reliable data retention. 
    Available in real-time, a snapshot can be used to create <a href="#operation/createTemplate">create templates</a>, export to Object Storage or rollback your changes if required. 


- name: "storage snapshot schedule"
  x-displayName: "Storage Snapshot Scheduler"
  description: |
    Our snapshot scheduler enables you to automate and speed up processes, allowing you define frequency of snapshots as well as time frames until when snapshots are to be archived.

- name: "storage backups"
  x-displayName: "Storage Backups"
  description: |
    Backups enable you to configure and administer individual security concepts, and simplifies the process of rollbacks. You have the option to automate backups on daily, weekly and monthly intervals and set up to a maximum of eight backups.

- name: "storage backup schedule"
  x-displayName: "Storage Backup Schedule"
  description: |
    Using the backup scheduler, you can set backup cycles, interval frequency and time limitations as well as completely automate continuous backup routines.  

- name: "template"
  x-displayName: "Templates"
  description: |
    Automate and speed up repetitive tasks by taking advantage of the variety of templates we offer, or create your own custom templates tailored to your needs.

- name: "marketplace application"
  x-displayName: "Marketplace Application"
  description: |
    The Marketplace offers integrated applications, developer tools and helpful applications as ready-to-use software solutions operated on the gridscale infrastructure, offering high performance and 100% availability. 

- name: "label"
  x-displayName: "Labels"
- name: "events"
  x-displayName: "Events"


paths:
  /requests/{request_uuid}:
    get:
      tags:
      - "request"
      summary: "Request Get"
      description: |
        https://api.gridscale.io/requests/{request_uuid}
        To poll our provisioning system to find out what provisioning state a resource is currently in.
      operationId: "getRequest"
      produces:
      - "application/json"
      parameters:
      - name: "request_uuid"
        in: "path"
        description: "UUID of the request."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/RequestGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
      x-code-samples:
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.watchRequest("4e10fb40-47e3-4fd0-aaf3-c16335757f93").then(function( res ) {
              console.log(res.result);
            });
#<!-- strip_js_end -->



  /objects/servers:
    get:
      tags:
      - "server"
      summary: "Servers Get"
      description: "https://api.gridscale.io/objects/servers To retrieve detailed information of all servers."
      operationId: "getServers"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServersGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
            -H "X-Auth-UserId: $USER_UUID" \
            -H "X-Auth-Token: $API_TOKEN" \
            -X GET \
            https://api.gridscale.io/objects/servers
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.list().then(function( res ) {
              console.log(res.result.servers);
            });

#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            servers, err := client.GetServerList()

#<!-- strip_go_end -->

    post:
      tags:
      - "server"
      summary: "Server Post"
      description: "https://api.gridscale.io/objects/servers To create a new server."
      operationId: "createServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "payload"
        description: "Data for a new server"
        required: true
        schema:
          $ref: '#/definitions/ServerCreate'
      responses:
        202:
          description: "The request has been accepted and being processed. Meaning we can only return the outcome of the request once it's finished processing. To get an accurate result, you should poll the request to be notified once the resource has been provisioned - see the requests endpoint on how to poll."
          schema:
            $ref: '#/definitions/ServerCreateResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"name": "example server" ,"cores": 1, "memory": 2, "location_uuid": "45ed677b-3702-4b36-be2a-a2eab9827950"}' \
                -X POST \
                https://api.gridscale.io/objects/servers
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.create({name:"example server", cores:1, memory: 2, location_uuid:"45ed677b-3702-4b36-be2a-a2eab9827950"}).then(function( res ) {
                console.log(res.result);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            response, err := client.CreateServer(gsclient.ServerCreateRequest{
              Name:            "example server",
              Memory:          2,
              Cores:           1,
              LocationUuid:    "45ed677b-3702-4b36-be2a-a2eab9827950",
            })
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}:
    get:
      tags:
      - "server"
      summary: "Server Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid} To retrieve detailed information regarding the specified server."
      operationId: "getServer"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "UUID of the Server."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServerGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.get("2d850e53-75e4-4c5c-954b-2757ec46315e").then(function( res ) {
                console.log(res.result.server);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            server, err := client.GetServer("2d850e53-75e4-4c5c-954b-2757ec46315e")
#<!-- strip_go_end -->

    patch:
      tags:
      - "server"
      summary: "Server Patch"
      description: "https://api.gridscale.io/objects/servers/{server_uuid} To update the attributes of the specified server."
      operationId: "updateServer"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "object that need to be updated."
        required: true
        type: "string"
      - in: "body"
        name: "payload"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/ServerUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"name": "Updated Name"}' \
                -X PATCH \
                https://api.gridscale.io/objects/servers/{server_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.patch("2d850e53-75e4-4c5c-954b-2757ec46315e", {name: "Updated Name"}).then(function( res ) {
              console.log(res.result);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.UpdateServer("2d850e53-75e4-4c5c-954b-2757ec46315e", gsclient.ServerUpdateRequest{
                    Name: "Updated Name",
                  })
#<!-- strip_go_end -->

    delete:
      tags:
      - "server"
      summary: "Server Delete"
      description: "https://api.gridscale.io/objects/servers/{server_uuid} To delete the specified server."
      operationId: "deleteServer"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X DELETE \
                https://api.gridscale.io/objects/servers/{server_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.remove("a891ccc0-c013-4112-9fce-008344151d22").then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.DeleteServer("a891ccc0-c013-4112-9fce-008344151d22")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/events:
    get:
      tags:
      - "server"
      summary: "Server Events"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/events To retrieve the event logs of the specified server."
      operationId: "getServerEvents"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The events endpoint for a server, returns a list of all the events on that object. You can alternatively find them as Audit Logs in your expert panel."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/events
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.events("2d850e53-75e4-4c5c-954b-2757ec46315e").then(function( res ) {
                console.log(res.result);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            events, err := client.GetServerEventList("2d850e53-75e4-4c5c-954b-2757ec46315e")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/metrics:
    get:
      tags:
      - "server"
      summary: "Server Usage"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/metrics To retrieve the usage metrics for the specified server."
      operationId: "getServerMetrics"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "UUID of the Server."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServerMetricsGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/metrics
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.metrics("cadef542-fa4a-45f9-aadd-e43ef492246b").then(function( res ) {
                console.log(res.result);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            metrics, err := client.GetServerMetricList("cadef542-fa4a-45f9-aadd-e43ef492246b")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/power:
    get:
      tags:
      - "server power"
      summary: "Server Power Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/power To retrieve the specified server's current power status."
      operationId: "getServerPower"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServerPowerStatus'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/power
#<!-- strip_js -->
#        - lang: JavaScript
#          source: |
#            // TODO:
#<!-- strip_js_end -->

#<!-- strip_go -->
#        - lang: Golang
#          source: |
#            // TODO:
#<!-- strip_go_end -->

    patch:
      tags:
      - "server power"
      summary: "Server Power Patch"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/power To turn the specified server on or off."
      operationId: "updateServerPower"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: '#/definitions/ServerPowerUpdate'
      responses:
        200:
          description: "successful operation"
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"power": true}' \
                -X PATCH \
                https://api.gridscale.io/objects/servers/{server_uuid}/power
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.power("2d850e53-75e4-4c5c-954b-2757ec46315e", false).then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            //Start server
            err := client.StartServer("2d850e53-75e4-4c5c-954b-2757ec46315e")
            //Stop server
            err := client.StopServer("2d850e53-75e4-4c5c-954b-2757ec46315e")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/shutdown:
    patch:
      tags:
      - "server power"
      summary: "Server ACPI Shutdown"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/shutdown To turn the specified server off via ACPI."
      operationId: "ServerPowerShutdown"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      - in: "body"
        name: "payload"
        required: true
        schema:
          type: object
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.shutdown("2d850e53-75e4-4c5c-954b-2757ec46315e").then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->
#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.ShutdownServer("2d850e53-75e4-4c5c-954b-2757ec46315e")
#<!-- strip_go_end -->

  #<!-- strip_msg -->

  /objects/servers/{server_uuid}/ips:
    get:
      tags:
      - "server ip"
      summary: "Server IPs Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/ips To retrieve detailed information about all the IPs linked to the specified server."
      operationId: "getServerLinkedIps"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedIpsGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/ips
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.ips("server_uuid").then(function( res ) {
                console.log(res.result);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            ips, err := client.GetServerIpList("2d850e53-75e4-4c5c-954b-2757ec46315e")
#<!-- strip_go_end -->

    post:
      tags:
      - "server ip"
      summary: "Server IP Post"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/ips To link an IP to the specified server."
      operationId: "linkIpToServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the Server."
        required: true
        type: string
      - in: "body"
        name: "payload"
        description: "IP uuid which going to be linked"
        required: true
        schema:
          $ref: '#/definitions/LinkIp'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"object_uuid": "x123xx1x-123x-1x12-123x-123xxx123x1x"}' \
                -X POST \
                https://api.gridscale.io/objects/servers/{server_uuid}/ips
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.addIp("2d850e53-75e4-4c5c-954b-2757ec46315e", "x123xx1x-123x-1x12-123x-123xxx123x1x").then(function( res ) {
              console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.LinkIp("2d850e53-75e4-4c5c-954b-2757ec46315e", "x123xx1x-123x-1x12-123x-123xxx123x1x")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/ips/{ip_uuid}:
    get:
      tags:
      - "server ip"
      summary: "Server IP Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/ips/{ip_uuid} To retrieve detailed information about a specific IP linked to the specified server."
      operationId: "getServerLinkedIp"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the IP you are requesting."
        required: true
        type: string
      - name: "ip_uuid"
        in: "path"
        description: "The UUID of the IP Address you're requesting."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedIpGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/metrics
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.ip("server_uuid","ip_uuid").then(function( res ) {
              console.log(res.result);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            ip, err := client.GetServerIp("2d850e53-75e4-4c5c-954b-2757ec46315e", "x123xx1x-123x-1x12-123x-123xxx123x1x")
#<!-- strip_go_end -->

    delete:
      tags:
      - "server ip"
      summary: "Server IP Delete"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/ips/{ip_uuid} To unlink a specific IP from the specified server."
      operationId: "unlinkIpFromServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the Server."
        required: true
        type: string
      - in: "path"
        name: "ip_uuid"
        description: "ip uuid"
        required: true
        type: string
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X DELETE \
                https://api.gridscale.io/objects/servers/{server_uuid}/ips/{ip_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.removeIp("server_uuid", "ip_uuid").then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.UnlinkIp("2d850e53-75e4-4c5c-954b-2757ec46315e", "x123xx1x-123x-1x12-123x-123xxx123x1x")
#<!-- strip_go_end -->

 #<!-- strip_msg_end -->

  /objects/servers/{server_uuid}/storages:
    get:
      tags:
      - "server storage"
      summary: "Server Storages Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/storages To retrieve detailed information about all storages linked to the specified server."
      operationId: "getServerLinkedStorages"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedStoragesGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/storages
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.storages("2d850e53-75e4-4c5c-954b-2757ec46315e").then(function( res ) {
                console.log(res.result.storage_relations);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            storages, err := client.GetServerStorageList("2d850e53-75e4-4c5c-954b-2757ec46315e")
#<!-- strip_go_end -->

    post:
      tags:
      - "server storage"
      summary: "Server Storage Post"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/storages To link a storage to the specified server."
      operationId: "linkStorageToServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the Server."
        required: true
        type: string
      - in: "body"
        name: "payload"
        description: "storage uuid which going to be linked"
        required: true
        schema:
          $ref: '#/definitions/LinkStorage'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"object_uuid": "x123xx1x-123x-1x12-123x-123xxx123x1x", "bootdevice": true}' \
                -X POST \
                https://api.gridscale.io/objects/servers/{server_uuid}/storages
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.addStorage("server_uuid", "storage_patch").then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.LinkStorage("server_uuid", "storage_uuid")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/storages/{storage_uuid}:
    get:
      tags:
      - "server storage"
      summary: "Server Storage Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid} To retrieve detailed information about a particular storage linked to the specified server."
      operationId: "getServerLinkedStorage"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      - name: "storage_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedStorageGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.storage("2d850e53-75e4-4c5c-954b-2757ec46315e", "006478a5-a79c-4583-9085-d24bb6902fc6").then(function( res ) {
                console.log(res.result.storage_relation);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            storage, err := client.GetServerStorage("2d850e53-75e4-4c5c-954b-2757ec46315e", "006478a5-a79c-4583-9085-d24bb6902fc6")
#<!-- strip_go_end -->

    patch:
      tags:
      - "server storage"
      summary: "Server Storage Patch"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid} To update the attributes of a storage attached to the specified server."
      operationId: "updateServerLinkedStorage"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      - name: "storage_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string
      - in: "body"
        name: "payload"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/LinkedStorageUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"ordering": 2, "bootdevice": true, "l3security": null}' \
                -X PATCH \
                https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.patchStorage("server_uuid", "storage_uuid", {ordering: 2, bootdevice: true, l3security: null}).then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.UpdateServerStorage("server_uuid", "storage_uuid", gsclient.ServerStorageRelationUpdateRequest{
              Ordering:   2,
              BootDevice: true,
              L3security: nil,
            })
#<!-- strip_go_end -->

    delete:
      tags:
      - "server storage"
      summary: "Server Storage Delete"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid} To unlink a storage from the specified server."
      operationId: "unlinkStorageFromServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the Storage you are removing."
        required: true
        type: string
      - in: "path"
        name: "storage_uuid"
        description: "The UUID of the Storage you are removing."
        required: true
        type: string
      responses:
        204:
          $ref: '#/responses/204'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X DELETE \
                https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.removeStorage("server_uuid", "storage_uuid").then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.UnlinkStorage("server_uuid", "storage_uuid")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/networks:
    get:
      tags:
      - "server network"
      summary: "Server Networks Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/networks To retrieve detailed information about all the networks to which the specified server is connected."
      operationId: "getServerLinkedNetworks"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedNetworksGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID"
                -H "X-Auth-Token: $API_TOKEN"
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/networks
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.networks("server_uuid").then(function( res ) {
                console.log(res.result.network_relations);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            networks, err := client.GetServerNetworkList("server_uuid")
#<!-- strip_go_end -->

    post:
      tags:
      - "server network"
      summary: "Server Network Post"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/networks To add the specified server to a network."
      operationId: "linkNetworkToServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the Server."
        required: true
        type: string
      - in: "body"
        name: "payload"
        description: "Network UUID which is going to be linked"
        required: true
        schema:
          $ref: '#/definitions/LinkNetwork'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"bootdevice": true}' \
                -X POST \
                https://api.gridscale.io/objects/servers/{server_uuid}/networks

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.addNetwork("server_uuid", "network_uuid", {"bootdevice": true}).then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.LinkNetwork(
                "server_uuid",
                "network_uuid",
                "firewall_template_uuid",
                true, //bootdevice
                1, //order
                nil, //l3 security
                gsclient.FirewallRules{}, //firewall rules
              )
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/networks/{network_uuid}:
    get:
      tags:
      - "server network"
      summary: "Server Network Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid} To retrieve information about the specified network to which a particular server is connected."
      operationId: "getServerLinkedNetwork"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the Network you are requesting."
        required: true
        type: string
      - name: "network_uuid"
        in: "path"
        description: "The UUID of the network you're requesting."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedNetworkGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid}

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.network("2d850e53-75e4-4c5c-954b-2757ec46315e", "d50f3c50-3cf9-44bf-9dff-956a7d72cf4c").then(function( res ) {
                console.log(res.result.network_relation);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            network, err := client.GetServerNetwork("2d850e53-75e4-4c5c-954b-2757ec46315e", "d50f3c50-3cf9-44bf-9dff-956a7d72cf4c")
#<!-- strip_go_end -->

    patch:
      tags:
      - "server network"
      summary: "Server Network Patch"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid} To update the attributes of the specified network connected to a particular server."
      operationId: "updateServerLinkedNetwork"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the network you are requesting."
        required: true
        type: string
      - name: "network_uuid"
        in: "path"
        description: "The UUID of the network you're requesting."
        required: true
        type: string
      - in: "body"
        name: "payload"
        description: "Updated user object."
        required: true
        schema:
          $ref: '#/definitions/LinkedNetworkUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"ordering": 2, "bootdevice": true, "l3security": null}' \
                -X PATCH \
                https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid}

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.patchNetwork("2d850e53-75e4-4c5c-954b-2757ec46315e", "d50f3c50-3cf9-44bf-9dff-956a7d72cf4c", {"ordering": 2, "bootdevice": true, "l3security": null}).then(function( res ) {
                console.log(res.success);
            });

#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.UpdateServerNetwork("2d850e53-75e4-4c5c-954b-2757ec46315e", "d50f3c50-3cf9-44bf-9dff-956a7d72cf4c", gsclient.ServerNetworkRelationCreateRequest{
              Ordering: 3,
              BootDevice: true,
              L3security: nil,
            })
#<!-- strip_go_end -->

    delete:
      tags:
      - "server network"
      summary: "Server Network Delete"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid} To unlink the specified network from a particular server."
      operationId: "unlinkNetworkFromServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the IP you are requesting."
        required: true
        type: string
      - in: "path"
        name: "network_uuid"
        description: "The UUID of the IP Address you're requesting."
        required: true
        type: string
      responses:
        204:
          $ref: '#/responses/204'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X DELETE \
                https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid}

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.removeNetwork("server_uuid", "network_uuid").then(function( res ) {
                console.log(res.success);
            });

#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.UnlinkNetwork("2d850e53-75e4-4c5c-954b-2757ec46315e", "d50f3c50-3cf9-44bf-9dff-956a7d72cf4c")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/isoimages:
    get:
      tags:
      - "server isoimages"
      summary: "Server ISO-Images Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/isoimages To retrieve detailed information about all ISO images linked to the specified server."
      operationId: "getServerLinkedIsoimages"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedIsoimagesGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/isoimages

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.isoimages("server_uuid").then(function( res ) {
                console.log(res.result.isoimage_relations);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            isoImages, err := client.GetServerIsoImageList("server_uuid")
#<!-- strip_go_end -->

    post:
      tags:
      - "server isoimages"
      summary: "Server ISO-Image Post"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/isoimages To link an ISO image to the specified server."
      operationId: "linkIsoimageToServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the Iso image you are requesting."
        required: true
        type: string
      - in: "body"
        name: "payload"
        description: "ISO image UUID which is going to be linked."
        required: true
        schema:
          $ref: '#/definitions/LinkIsoimage'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"object_uuid": "x123xx1x-123x-1x12-123x-123xxx123x1x"}' \
                -X POST \
                https://api.gridscale.io/objects/servers/{server_uuid}/isoimages
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.addIsoimage("server_uuid", "isoimage_uuid").then(function( res ) {
                console.log(res.success);
            });

#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.LinkIsoImage("server_uuid", "isoimage_uuid")
#<!-- strip_go_end -->

  /objects/servers/{server_uuid}/isoimages/{isoimage_uuid}:
    get:
      tags:
      - "server isoimages"
      summary: "Server ISO-Image Get"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{object_uuid} To retrieve detailed information about the specified ISO image linked to a server. "
      operationId: "getServerLinkedIsoimage"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the ISO Image you are requesting."
        required: true
        type: string
      - name: "isoimage_uuid"
        in: "path"
        description: "The UUID of the ISO-Image you're requesting."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedIsoimageGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{isoimage_uuid}

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.isoimage("server_uuid", "isoimage_uuid").then(function( res ) {
                console.log(res.result.isoimage_relation);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            isoImage, err := client.GetServerIsoImage("server_uuid", "isoimage_uuid")
#<!-- strip_go_end -->

    patch:
      tags:
      - "server isoimages"
      summary: "Server ISO-Image Patch"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{object_uuid} To update the attributes of the specified ISO image linked to a server."
      operationId: "updateServerLinkedIsoimage"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the ISO Image you are requesting."
        required: true
        type: string
      - name: "isoimage_uuid"
        in: "path"
        description: "The UUID of the ISO-Image you're requesting."
        required: true
        type: string
      - in: "body"
        name: "payload"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/LinkedIsoimageUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"bootdevice": true, "name": "Ubuntu 14.04"}' \
                -X PATCH \
                https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{isoimage_uuid}

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.patchIsoimage("server_uuid", "isoimage_uuid", {bootdevice: true}).then(function( res ) {
                console.log(res.success);
            });

#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.GetServerIsoImage("server_uuid", "isoimage_uuid", gsclient.ServerIsoImageRelationUpdateRequest{
              BootDevice: true,
            })
#<!-- strip_go_end -->

    delete:
      tags:
      - "server isoimages"
      summary: "Server ISO-Image Delete"
      description: "https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{object_uuid} To unlink the specified ISO image from a server."
      operationId: "unlinkIsoimageFromServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the ISO-Image you are requesting."
        required: true
        type: string
      - in: "path"
        name: "isoimage_uuid"
        description: "The UUID of the ISO-Image you're requesting."
        required: true
        type: string
      responses:
        204:
          $ref: '#/responses/204'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X DELETE \
                https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{isoimage_uuid}

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Server.removeIsoimage("server_uuid", "isoimage_uuid").then(function( res ) {
                console.log(res.success);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            err := client.UnlinkIsoImage("server_uuid", "isoimage_uuid")
#<!-- strip_go_end -->

  /objects/storages:
    get:
      tags:
      - "storage"
      summary: "Storages Get"
      description: "https://api.gridscale.io/objects/storages To retrieve detailed information about all the storages."
      operationId: "getStorages"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/StoragesGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/storages
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Storage.list().then(function( res ) {
                console.log(res.result.storages);
            });

#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            storages, err := client.GetStorageList()
#<!-- strip_go_end -->

    post:
      tags:
      - "storage"
      summary: "Storage Post"
      description: "https://api.gridscale.io/objects/storages To create a new storage."
      operationId: "createStorage"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "payload"
        description: "Request body for creating storage"
        required: true
        schema:
          $ref: '#/definitions/StorageCreate'
      responses:
        202:
          description: "The request has been accepted, but will run at a later date. Meaning we can not guarantee the success of the request. You should poll the request to be notified once the resource has been provisioned - see the requests endpoint on how to poll."
          schema:
            $ref: '#/definitions/CreateResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "Content-Type: application/json" \
                -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -d '{"name":"test",
                        "capacity":10,
                        "storage_type":"storage",
                        "location_uuid":"45ed677b-3702-4b36-be2a-a2eab9827950",
                        "template" : {
                            "template_uuid":"ec4ef18f-84df-42bb-b7c4-c2957635ee53",
                            "password" : "sample_password",
                            "password_type" : "plain"
                        }
                    }' \
                -X POST \
                https://api.gridscale.io/objects/storages

#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Storage.create({name:"test",
                        capacity:10,
                        storage_type:"storage",
                        location_uuid:"45ed677b-3702-4b36-be2a-a2eab9827950",
                        template : {
                            template_uuid:"ec4ef18f-84df-42bb-b7c4-c2957635ee53",
                            password : "sample_password",
                            password_type : "plain"
                        }
                    }).then(function( res ) {
                console.log(res.result.storages);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            response, err := client.CreateStorage(gsclient.StorageCreateRequest{
              Capacity: 10,
              StorageType: "storage",
              LocationUuid: "45ed677b-3702-4b36-be2a-a2eab9827950",
              Template: &gsclient.StorageTemplate{
                TemplateUuid: "ec4ef18f-84df-42bb-b7c4-c2957635ee53",
                Password: "sample_password",
                PasswordType: "plain",
              },
            })
#<!-- strip_go_end -->

  /objects/storages/{storage_uuid}:
    get:
      tags:
      - "storage"
      summary: "Storage Get"
      description: "https://api.gridscale.io/objects/storages/{storage_uuid} To retrieve detailed information about the specified storage."
      operationId: "getStorage"
      produces:
      - "application/json"
      parameters:
      - name: "storage_uuid"
        in: "path"
        description: "The UUID of an object is always unique, and refers to a specific object."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/StorageGetResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
        429:
          $ref: '#/responses/429'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
      x-code-samples:
        - lang: cURL
          source: |
            curl -H "X-Auth-UserId: $USER_UUID" \
                -H "X-Auth-Token: $API_TOKEN" \
                -X GET \
                https://api.gridscale.io/objects/storages/{storage_uuid}
#<!-- strip_js -->
        - lang: JavaScript
          source: |
            client.Storage.get("e7f6cb47-4948-45cc-83de-b7bd08ddf9ec").then(function( res ) {
                console.log(res.result.storage);
            });
#<!-- strip_js_end -->

#<!-- strip_go -->
        - lang: Golang
          source: |
            storage, err := client.GetStorage("e7f6cb47-4948-45cc-83de-b7bd08ddf9ec")
#<!-- strip_go_end -->

    patch:
      tags:
      - "storage"
      summary: "Storage Patch"
      description: "https://api.gridscale.io/objects/storages/{storage_uuid} To update the attributes of the specified storage."
      operationId: "updateStorage"
      produces:
      - "application/json"
      consumes:
[...]
